<div class="row g-5">
  <div class="col-12 col-md-4">
    <div class="blog-card">
      <img src="../../assets/Blog/eimg1.webp" class="card-img-top" alt="..." />
      <div class="c-body pt-1">
        <h5 class="card-title h5">
          Ultimate SOP Writing Tips for Admission to German Universities
        </h5>
        <p class="card-text p">
          Master the art of SOP writing for admission to German Universities
          with essential tips from PingMe Study Abroad. Navigate the application
          process confidently and unlock opportunities in higher education.
        </p>
        <a href="#">
          <button class="secondary-btn">
            Read more &nbsp;<i class="fa-solid fa-angles-right"></i>
          </button>
        </a>

        <div class="blog-date">
          <h3 class="h3">21</h3>
          <p>May</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="blog-card">
      <img src="../../assets/Blog/img2.webp" class="card-img-top" alt="..." />
      <div class="c-body pt-1">
        <h5 class="card-title h5">
          The Complete Guide to Post-Graduate Study Options in Germany
        </h5>
        <p class="card-text p">
          Explore postgraduate study options in Germany with PingMe Study
          Abroad. Embark on a journey of academic excellence, career
          opportunities, and cultural enrichment with the premier study
          destination in Europe.
        </p>
        <a href="#">
          <button class="secondary-btn">
            Read more &nbsp;<i class="fa-solid fa-angles-right"></i>
          </button>
        </a>

        <div class="blog-date">
          <h3 class="h3">21</h3>
          <p>May</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="blog-card">
      <img src="../../assets/Blog/img3.webp" class="card-img-top" alt="..." />
      <div class="c-body pt-1">
        <h5 class="card-title h5">
          Top 10 Public Universities in Germany for International Students
        </h5>
        <p class="card-text p">
          Discover the Top 10 public universities in Germany with Pingme Study
          Abroad. Aspiring students in Thrissur, Kerala can find expert guidance
          for academic excellence and career success in Europe.
        </p>
        <a href="#">
          <button class="secondary-btn">
            <span
              >Read more &nbsp;<i class="fa-solid fa-angles-right"></i
            ></span>
          </button>
        </a>

        <div class="blog-date">
          <h3 class="h3">21</h3>
          <p>May</p>
        </div>
      </div>
    </div>
  </div>
</div>

