<section class="consultation-banner ">
    <img class="consultation-banner-img img-fluid" src="../../assets/About/shaded-background.jpg" alt="">
    <div class="shade"></div>
    <div class="main-container content-div d-flex">
        <div class="row">
            <div class="col-md-3 d-flex flex-column justify-content-center">
                <h2 class="h2">We let your dream come true.</h2>
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <div class="line"></div>
            </div>
            <div class="col-md-6 col-lg-4">
                <h4 class="h4"> Don’t wait for the next opportunity. To know more about us make the first step.
                </h4>
                <button class="primary-btn mt-4"><span>Get a free consultation &nbsp;&nbsp;<i
                            class="fa-solid fa-angles-right"></i></span></button>
            </div>
        </div>
    </div>
</section>