<section class="country-destinations d-none d-sm-block">
  <div class="row">
    <div class="col-lg-7 left-pad-container column1">
      <h3 class="h3 mb-lg-5">
        Study Abroad<br />
        Destinations
      </h3>
      <ul class="">
        <li class="active hidden">
          <a data-toggle="tab" href="#study-in-germany"
            ><img
              src="../../assets/Country/flags/germany.png"
              alt="country_flag"
            />Germany</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-italy"
            ><img
              src="../../assets/Country/flags/italy.png"
              alt="country_flag"
            />Italy</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-canada"
            ><img
              src="../../assets/Country/flags/canada.png"
              alt="country_flag"
            />Canada</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-switzerland"
            ><img
              src="../../assets/Country/flags/switzerland.png"
              alt="country_flag"
            />Switzerland</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-new-zealand"
            ><img
              src="../../assets/Country/flags/new-zealand.webp"
              alt="country_flag"
            />New zealand</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-sweden"
            ><img
              src="../../assets/Country/flags/sweden.png"
              alt="country_flag"
            />Sweden</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-czech-republic"
            ><img
              src="../../assets/Country/flags/czech-republic.png"
              alt="country_flag"
            />Czech Republic</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-usa"
            ><img
              src="../../assets/Country/flags/usa.webp"
              alt="country_flag"
            />USA</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-uk"
            ><img
              src="../../assets/Country/flags/united-kingdom.png"
              alt="country_flag"
            />United Kingdom</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-australia"
            ><img
              src="../../assets/Country/flags/australia.webp"
              alt="country_flag"
            />Australia</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-norway"
            ><img
              src="../../assets/Country/flags/norway.png"
              alt="country_flag"
            />Norway</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-netherlands"
            ><img
              src="../../assets/Country/flags/netherlands.webp"
              alt="country_flag"
            />Netherlands</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-latvia"
            ><img
              src="../../assets/Country/flags/latvia.png"
              alt="country_flag"
            />Latvia</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-france"
            ><img
              src="../../assets/Country/flags/france.png"
              alt="country_flag"
            />France</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-estonia"
            ><img
              src="../../assets/Country/flags/estonia.png"
              alt="country_flag"
            />Estonia</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-malta"
            ><img
              src="../../assets/Country/flags/malta.png.webp"
              alt="country_flag"
            />Malta</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-lithuania"
            ><img
              src="../../assets/Country/flags/lituania.png"
              alt="country_flag"
            />Lithuania</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-hungary"
            ><img
              src="../../assets/Country/flags/hungary.png"
              alt="country_flag"
            />Hungary</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-denmark"
            ><img
              src="../../assets/Country/flags/denmark.webp"
              alt="country_flag"
            />Denmark</a
          >
        </li>
        <li class="hidden">
          <a data-toggle="tab" href="#study-in-finland"
            ><img
              src="../../assets/Country/flags/finland.webp"
              alt="country_flag"
            />Finland</a
          >
        </li>
      </ul>
    </div>
    <div class="col-lg-5 column2 active-content" id="study-in-germany">
      <div class="carousal-container">
        <div class="owl-carousel destination-owl-carousel owl-theme ">
          <div class="item">
            <img
              class="img-fluid"
              src="../../assets/Country/carasoul/ger/img1.webp"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="img-fluid"
              src="../../assets/Country/carasoul/ger/img2.jpg"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="img-fluid"
              src="../../assets/Country/carasoul/ger/img3.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="content-div">
        <div class="owl-nav mt-3 mb-4">
          <button class="owl-navigation prevBtn">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="owl-navigation nextBtn">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <h4>Germany</h4>
        <p class="p">
          Germany comes in the mind of every student when they think about
          pursuing their higher education in a foreign country. It has several
          reasons and benefits that attract international students to Germany
          for various courses in the reputed German universities. The quality of
          education and international standards are a great gift for students in
          Germany.
        </p>
        <a class="know-more secondary-btn">
          Know More &nbsp;<i class="fa-solid fa-angles-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-5 column2 hidden-content" id="study-in-italy">
      <div class="carousal-container">
        <div class="owl-carousel destination-owl-carousel owl-theme ">
          <div class="item">
            <img
              class="img-fluid"
              src="../../assets/Country/carasoul/ita/img1.webp"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="img-fluid"
              src="../../assets/Country/carasoul/ita/img2.webp"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="img-fluid"
              src="../../assets/Country/carasoul/ita/img3.webp"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="content-div">
        <div class="owl-nav mt-3 mb-4">
          <button class="owl-navigation prevBtn">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="owl-navigation nextBtn">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <h4>Italy</h4>
        <p class="p">
          The reason why Italy became prominent through study abroad consultants
          as a good place to study is mainly that there are plenty of
          universities that you can choose from. Moreover, options for
          sightseeing and tasty food attract a lot of people, Italy has an
          affordable cost of education. Watch our video on scholarship
          opportunities.
        </p>
        <a class="know-more"> Know More <i class="fas fa-arrow-right"></i> </a>
      </div>
    </div>
  </div>
</section>
