<div class="d-none d-md-block">
  <div class="footer">
    <div class="main-container">
      <div class="row g-3">
        <article class="col-12 col-sm-6 col-lg-3 ">
          <h5>ED EURO</h5>
          <ul class="footnav">
            <li class="item ">
              <a
                class=""
                href="../../pages/Migration/migrate-germany.html"
                title="Germany Job Seeker Visa"
              >
                <span>Migration</span>
              </a>
            </li>
            <li class="item ">
              <a
                class=""
                href="../../pages/Services/services.html"
                title="Services"
              >
                <span>Services</span>
              </a>
            </li>
            <li class="item ">
              <a
                class=""
                href="../../pages/contact/contact.html"
                title="Contact"
              >
                <span>Contact Us</span>
              </a>
            </li>
            <li class="item ">
              <a
                class=""
                href="../../index.html"
                title="Home"
              >
                <span>Home</span>
              </a>
            </li>
            <li class="item ">
              <a class="" href="../../pages/About/about.html" title="About Us">
                <span>About Ed Euro</span>
              </a>
            </li>
            <li class="item ">
              <a
                class=""
                href="../../pages/Study-Abroad/germany.html"
                title="Study In Germany"
              >
                <span>Study Abroad</span>
              </a>
            </li>
            <li class="item ">
              <a
                class=""
                href="../../pages/Migration/migration.html"
                title="Nursing Adaptation Program In Germany"
              >
                <span>Nursing</span>
              </a>
            </li>
            <li class="item ">
              <a
                class=""
                href="../../pages/Services/free-ielts-coaching.html"
                title="Free Ielts Coaching"
              >
                <span>IELTS Coaching</span>
              </a>
            </li>
            <li class="item ">
              <a class="" href="../../pages/Blog/blog.html" title="Blog">
                <span>Blog</span>
              </a>
            </li>
          </ul>
        </article>
        <article class="col-12 col-sm-6 col-lg-4">
          <h5>ABROAD</h5>
          <div class="d-flex gap-5">
            <ul class="">
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/germany.html"
                  title="Study In Germany"
                >
                  <span>Germany</span>
                </a>
              </li>
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/italy.html"
                  title="Study In Italy"
                >
                  <span>Italy</span>
                </a>
              </li>
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/canada.html"
                  title="Study In Canada"
                >
                  <span>Canada</span>
                </a>
              </li>
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/united-kingdom.html"
                  title="Study In United Kingdom"
                >
                  <span>Switzerland</span>
                </a>
              </li>
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/new-zealand.html"
                  title="Study In New Zealand"
                >
                  <span>Australia</span>
                </a>
              </li>
            </ul>
            <ul class="">
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/sweden.html"
                  title="Study In Sweden"
                >
                  <span>Sweden</span>
                </a>
              </li>
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/czech-republic.html"
                  title="Study In Czech Republic"
                >
                  <span>Czech Republic</span>
                </a>
              </li>
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/usa.html"
                  title="Study In USA"
                >
                  <span>USA</span>
                </a>
              </li>
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/germany.html/study-in-switzerland/"
                  title="Study In Switzerland"
                >
                  <span>United Kingdom</span>
                </a>
              </li>
              <li class="item ">
                <a
                  class=""
                  href="../../pages/Study-Abroad/australia.html"
                  title="Study In Australia"
                >
                  <span>New zealand</span>
                </a>
              </li>
            </ul>
          </div>
        </article>
        <article class="col-lg-5 d-flex flex-column align-items-center">
          <h3 class="h3">Subscribe to the newsletter</h3>
          <p class="p text-center">
            Stay up to date with our latest developments.
          </p>
          <form action="">
            <input type="email" placeholder="Enter Email Address" />
            <button><i class="fa-solid fa-angles-right"></i></button>
          </form>

          <div
            class="social d-flex align-items-center gap-4 mt-4 justify-content-center"
          >
            <h5 class="follow-us" style="padding: 0px;">FOLLOW US</h5>
            <ul class="d-flex gap-3 ">
              <li>
                <a target="_blank" href="#" title="Facebook">
                  <img src="../../assets/Footer/facebook.svg" alt=""
                /></a>
              </li>
              <li>
                <a target="_blank" href="#" title="LinkedIn">
                  <img src="../../assets/Footer/linkedIn.svg" alt=""
                /></a>
              </li>
              <li>
                <a target="_blank" href="#" title="Instagram">
                  <img src="../../assets/Footer/instagram.svg" alt=""
                /></a>
              </li>
              <li>
                <a target="_blank" href="#" title="Twitter">
                  <img src="../../assets/Footer/twitter.svg" alt=""
                /></a>
              </li>
              <li>
                <a target="_blank" href="#" title="Youtube">
                  <img src="../../assets/Footer/youtube.svg" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="certificate_img d-flex justify-content-center">
            <a
              href="../../assets/Footer/certificate.pdf"
              target="_blank"
              title="Certificate"
            >
              <img
                class="img-fluid"
                src="../../assets/Footer/council-logo.webp"
                alt=""
              />
            </a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="main-container ">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="p">Copyright © -Ed Euro/p>
        </div>
        <div class="d-flex gap-3">
          <a href="../../pages/privacy-policy/privacy-policy.html">
            <p class="p conditions">Privacy Policy</p>
          </a>
          <a href="../../pages/Terms-conditions/terms-conditions.html">
            <p class="p conditions">Terms & Conditions</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-md-none">
  <div class="footer-mob">
    <div class="main-container">
      <div class="contents">
        <div class="d-flex justify-content-center gap-3">
          <a href="../../pages/Migration/migration.html" class="p">Migration</a>
          <a href="../../pages/Services/services.html" class="p">Services</a>
          <a href="../../pages/contact/contact.html" class="p">Contact Us</a>
        </div>
        <div>
          <p>
            <a
              href="../../pages/privacy-policy/privacy-policy.html"
              class="me-2 p"
              >Privacy Policy</a
            >
            |
            <a
              href="../../pages/Terms-conditions/terms-conditions.html"
              class="p mx-2"
              >Terms & Conditions</a
            >
            |
            <a href="../../pages/Enquiry/affiliate-enquiry.html" class="p ms-2"
              >Affiliates</a
            >
          </p>
        </div>
        <ul class="d-flex gap-3 justify-content-center">
          <li>
            <a target="_blank" href="#" title="Facebook">
              <img src="../../assets/Footer/facebook.svg" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="#" title="LinkedIn">
              <img src="../../assets/Footer/linkedIn.svg" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="#" title="Instagram">
              <img src="../../assets/Footer/instagram.svg" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="#" title="Twitter">
              <img src="../../assets/Footer/twitter.svg" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="#" title="Youtube">
              <img src="../../assets/Footer/youtube.svg" alt=""
            /></a>
          </li>
        </ul>
        <span>All Rights Reserved</span>
      </div>
    </div>
  </div>
</div>
