<a href="../../pages/Study-Abroad/germany.html">
  <div class="card">
    <img src="../../assets/Country/flags/germany.png" alt="" />
    <p>Germany</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/italy.html">
  <div class="card">
    <img src="../../assets/Country/flags/italy.png" alt="" />
    <p>Italy</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/canada.html">
  <div class="card">
    <img src="../../assets/Country/flags/canada.png" alt="" />
    <p>Canada</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/switzerland.html">
  <div class="card">
    <img src="../../assets/Country/flags/switzerland.png" alt="" />
    <p>Switzerland</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/new-zealand.html">
  <div class="card">
    <img src="../../assets/Country/flags/new-zealand.webp" alt="" />
    <p>New Zealand</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/sweden.html">
  <div class="card">
    <img src="../../assets/Country/flags/sweden.png" alt="" />
    <p>Sweden</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/czech-republic.html">
  <div class="card">
    <img src="../../assets/Country/flags/czech-republic.png" alt="" />
    <p>Czech Republic</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/usa.html">
  <div class="card">
    <img src="../../assets/Country/flags/usa.webp" alt="" />
    <p>Usa</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/united-kingdom.html">
  <div class="card">
    <img src="../../assets/Country/flags/united-kingdom.png" alt="" />
    <p>United Kingdom</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/australia.html">
  <div class="card">
    <img src="../../assets/Country/flags/australia.webp" alt="" />
    <p>Australia</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/norway.html">
  <div class="card">
    <img src="../../assets/Country/flags/norway.png" alt="" />
    <p>Norway</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/netherlands.html">
  <div class="card">
    <img src="../../assets/Country/flags/netherlands.webp" alt="" />
    <p>Netherlands</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/latvia.html">
  <div class="card">
    <img src="../../assets/Country/flags/latvia.png" alt="" />
    <p>Latvia</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/france.html">
  <div class="card">
    <img src="../../assets/Country/flags/france.png" alt="" />
    <p>France</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/estonia.html">
  <div class="card">
    <img src="../../assets/Country/flags/estonia.png" alt="" />
    <p>Estonia</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/malta.html">
  <div class="card">
    <img src="../../assets/Country/flags/malta.png.webp" alt="" />
    <p>Malta</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/lituania.html">
  <div class="card">
    <img src="../../assets/Country/flags/lituania.png" alt="" />
    <p>Lithuania</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/hungary.html">
  <div class="card">
    <img src="../../assets/Country/flags/hungary.png" alt="" />
    <p>Hungary</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/denmark.html">
  <div class="card">
    <img src="../../assets/Country/flags/denmark.webp" alt="" />
    <p>Denmark</p>
  </div>
</a>
<a href="../../pages/Study-Abroad/finland.html">
  <div class="card">
    <img src="../../assets/Country/flags/finland.webp" alt="" />
    <p>Finland</p>
  </div>
</a>
