<div class="other-events">
  <div class="row g-5">
    <div class="col-12 col-md-4">
      <div class="event-card">
        <img
          src="../../assets/Events/card-img/img1.png"
          class="card-img-top"
          alt="..."
        />
        <div class="c-body pt-1">
          <h5 class="card-title">
            Ausbildung in Germany for Plus Two Graduates
          </h5>
          <p class="card-text p">
            Calling all Plus Two Graduates! Explore the Gateway to Global
            Opportunities with our FREE Webinar & Live Interactive Sessions on
            German Ausbildung Courses!
          </p>
          <div
            class="action-div d-flex justify-content-between align-items-center flex-wrap gap-3"
          >
            <div class="tags d-flex gap-1">
              <span class="webinar-text">Webinar</span>
              <span class="germany-text">Germany</span>
            </div>
            <a href="./event-details.html"
              ><button class="view-more">View More</button></a
            >
          </div>
        </div>

        <div class="date-overlay ">
          <div class="date">08 Dec</div>
          <div class="time">08:00 PM</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="event-card">
        <img
          src="../../assets/Events/card-img/img2.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="c-body pt-1">
          <h5 class="card-title">Studying in Sweden & Germany</h5>
          <p class="card-text p">
            Ready to embark on a transformative academic adventure? Join our
            FREE Webinar and dive into the endless possibilities of studying
            abroad in Sweden and Germany!
          </p>
          <div
            class="action-div d-flex justify-content-between align-items-center flex-wrap gap-3"
          >
            <div class="tags d-flex gap-1">
              <span class="webinar-text">Webinar</span>
              <span class="sweden-text">Sweden</span>
            </div>
            <a href="./event-details.html"
              ><button class="view-more">View More</button></a
            >
          </div>
        </div>

        <div class="date-overlay ">
          <div class="date">08 Dec</div>
          <div class="time">08:00 PM</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="event-card">
        <img
          src="../../assets/Events/card-img/img3.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="c-body">
          <h5 class="card-title">
            Important Things to Know Regarding Studying in Sweden
          </h5>
          <p class="card-text p">
            Join our upcoming webinar for an in-depth exploration of the
            unparalleled opportunities for international students in Sweden. Our
            expert panel will guide you through the application process,
            academic programs, and the unique aspects of student life in Sweden.
          </p>
          <div
            class="action-div d-flex justify-content-between align-items-center flex-wrap gap-3"
          >
            <div class="tags d-flex gap-1">
              <span class="webinar-text">Webinar</span>
              <span class="europe-text">Europe</span>
            </div>
            <a href="./event-details.html"
              ><button class="view-more">View More</button></a
            >
          </div>
        </div>

        <div class="date-overlay ">
          <div class="date">08 Dec</div>
          <div class="time">08:00 PM</div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <a href="../../pages/Events/events.html">
      <button class="primary-btn">
        &nbsp;&nbsp;&nbsp;<span
          >View All&nbsp;&nbsp;<i class="fa-solid fa-angles-right"></i></span
        >&nbsp;&nbsp;&nbsp;
      </button>
    </a>
  </div>
</div>
