@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap");

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'poppins', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}