@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap");

a {
    text-decoration: none;
    color: inherit;
}

/* * {
    outline: 1px solid #f00 !important;
} */

body {
    font-family: 'poppins', serif;
    /* font-family: sans-serif; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}



.h1 {
    font-size: 92px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 108px
}

.h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 57px
}

@media (max-width: 1199px) {
    .h2 {
        font-size: 36px;
        line-height: 44px
    }
}

.h3 {
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 44px;
    color: #010101
}

@media (max-width: 1366px) {
    .h3 {
        font-size: 30px
    }
}

.h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
}

.h5 {
    font-size: 23px;
    font-weight: 500;
    line-height: 36px;
    color: #010101
}

@media (max-width: 1366px) {
    .h5 {
        font-size: 20px;
        line-height: 34px
    }
}

@media (max-width: 1199px) {
    .h5 {
        font-size: 18px;
        line-height: 24px
    }
}

.h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #010101
}

.p {
    font-size: 17px;
    font-weight: 400 !important;
    line-height: 30px;
    color: inherit;
}

.p b {
    font-weight: 700
}

.p strong {
    font-weight: 700
}

@media (max-width: 1199px) {
    .p {
        font-size: 14px;
        line-height: 24px
    }
}

.hr {
    width: 59px;
    height: 6px;
    background: url('../assets/img/hr-img.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: none;
}

.main-container {
    margin-left: 96px;
    margin-right: 96px;
}

.left-container {
    margin-left: 96px;
}

.right-container {
    margin-right: 96px;
}

@media (max-width: 992px) {
    .main-container {
        margin-left: 56px;
        margin-right: 56px;
    }

    .left-container {
        margin-left: 56px;
        margin-right: 56px;
    }

    .right-container {
        margin-left: 56px;
        margin-right: 56px;
    }
}

@media (max-width: 768px) {
    .main-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    .left-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    .right-container {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.orange-color {
    color: var(--primary-color);
}

.section-container {
    padding: var(--section-padding) 0px;
}

.section-margin-container {
    margin: 100px 0px;
}

.section-container-bottom {
    padding-bottom: var(--section-padding);
}

@media(max-width:768px) {
    .section-container {
        padding: var(--mobile-section-padding) 0px;
    }

    .section-container-bottom {
        padding-bottom: var(--mobile-section-padding);
    }

    .section-margin-container {
        margin: 50px 0px;
    }
}


.primary-btn {
    appearance: none;
    background-color: var(--primary-color);
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    border: 1px solid var(--primary-color);
}

.primary-btn:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: var(--primary-color-darker);
    color: black;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;

}

.primary-btn:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    background-color: var(--primary-color-darker);
    color: black;
}

.primary-btn:after {
    background-color: var(--primary-color-darker);
    color: black;
}

.primary-btn span {
    z-index: 1;
    position: relative;
}

.primary-btn:hover {
    border-color: var(--primary-color-darker);
}